<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Radhull</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a routerLink="/people" routerLinkActive="active">Personas</a></li>
            <li><a routerLink="/heroes" routerLinkActive="active">Heroes</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>