<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{modal.header}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <span>{{modal.text}}</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" (click)="confirChildModal()" aria-label="Close">
        <span>{{modal.txtAceptar}}</span>
    </button>
                <button class="btn cancel" aria-label="Close" (click)="hideChildModal()">
        <span>{{modal.txtCancelar}}</span>
    </button>

            </div>

        </div>
    </div>
</div>