<!--<div class="form-group">-->
<label class="col-md-2">Género</label>
<div class=" col-md-10 btn-group  btn-group-sm">
    <label class="btn btn-warning col-md-3" [ngModel]="gender  || !gender" (ngModelChange)="onClick('male')" btnRadio="male">Hombre</label>
    <label class="btn btn-warning col-md-3" [ngModel]="gender" (ngModelChange)="onClick('female')" btnRadio="female">Mujer</label>
</div>
<!--<label class="col-md-3">
                    <input #male name="gender" type="checkbox" value="male" 
                            (click)="onClick(male.value)" 
                            [checked]="gender === male.value || !gender"
                            class="form-check-input"/>
                    Hombre
                </label>
    <label class="col-md-6">
                    <input #female name="gender" type="checkbox"  value="female" 
                    (click)="onClick(female.value)" 
                    [checked]="gender === female.value"
                    class="form-check-input"/>
                    Mujer
                </label>-->

<!--</div>-->