<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>{{name}}</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Página {{page + 1}}</h4>
        </div>
        <div class="col-md-6">
            <button class="btn btn-link btn-sm pull-right" (click)="onAddclick()" [disabled]="trabajando">
                  <span>Añadir Persona </span><span class="glyphicon glyphicon-plus"></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table [ngClass]="currentClasses">
                    <thead class="thead-inverse">
                        <tr class="bg-primary">
                            <th class="col-md-6">Nombre</th>
                            <th class="col-md-1">Género</th>
                            <th class="col-md-1">Edad</th>
                            <th class="col-md-2">Saldo</th>
                            <th class="col-md-1">Imagen</th>
                            <th class="col-md-1"><button class="btn btn-danger btn-sm" (click)="cambiarClases()">{{(quitarClases?'Quitar':'Poner') + ' Clases'}}</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr person-row *ngFor="let person of people;" [obj]="person" [bEnAlta]="creatingPerson" (edit)="onEdit($event)" (del)="onDel($event)"
                            [trabajando]="trabajando">
                            </tr>
                            <tr *ngFor="let linea of counter(recordsPerPage-people.length).fill(4)" class="tdVacio">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <ul class="pager">
                                    <li class="previous" [class.disabled]="page <= 0 || trabajando">
                                        <a href="javascript:;" (click)="onPrevClick($event)">&larr; Anterior</a>
                                    </li>
                                    <li class="next" [attr.disabled]="people.length !== recordsPerPage || trabajando">
                                        <a href="javascript:;" (click)="onNextClick($event)">Siguiente &rarr;</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>

    <person-edit *ngIf="editingPerson" [obj]="editingPerson" (save)="onEditOk($event)" (cancel)="onCancel()">
        <h4 class="panel-title text-center">Editando persona</h4>
    </person-edit>
    <person-edit *ngIf="creatingPerson" [obj]="creatingPerson" (save)="onNewOk($event)" (cancel)="onCancel()">
        <h4 class="panel-title text-center">Creando persona</h4>
    </person-edit>

</div>

<footer class="container-fluid text-center  navbar-fixed-bottom">
    <!--<a href="#" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>-->
    <p>Práctica proyecto NAVE <a href="http://sgit.emuasa.es/jrmiras/PRACTICA-TEMPLATE-SYNTAX" title="Visita git">sgit.emuasa.es</a></p>
    <!--<p>Copyright (c) 2017</p>-->
</footer>