<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <ng-content></ng-content>
            </div>
            <section>
                <form #personForm="ngForm" (ngSubmit)="onSaveclick(personForm)">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="col-md-2">Nombre*</label>
                                <div class="col-md-10">
                                    <input name="person_name" required minlength="2" [(ngModel)]="obj.name" class="form-control input-sm" placeholder="nombre"
                                        #name="ngModel" [ngClass]="{'has-error':!name.valid }" />
                                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                        Name is required my good sir/lady!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <gender-editor [(gender)]="obj.gender"></gender-editor>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2">Edad</label>
                                    <div class="col-md-3">
                                        <input type="number" required minlength="1" maxlength="2" name="person_age" #age="ngModel" [(ngModel)]="obj.age" class="form-control input-sm"
                                            placeholder="edad" />
                                        <!--<div>hola1: {{personForm.value | json }}</div>-->
                                        <div>hola2: {{personForm.errors | json }}</div>
                                        <div>hola2: {{personForm.form.errors | json }}</div>
                                        <div [hidden]="age.valid || age.pristine" class="error">
                                            Age is required my good sir/lady!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2">Saldo</label>
                                    <div class="col-md-4">
                                        <input name="person_balance" [(ngModel)]="obj.balance" class="form-control input-sm" placeholder="saldo" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 ">Acerca de</label>
                                    <div class="col-md-10">
                                        <textarea name="person_about" [(ngModel)]="obj.about" class="form-control  input-sm" placeholder="Acerca de" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" [disabled]="!personForm.valid" class="btn btn-primary btn-sm">Guardar</button>
                        <button class="btn btn-danger btn-sm pull-right" (click)="onCancelclick()">Cancelar</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>