<td scope="row">{{obj.name}}</td>
<td>{{obj.gender}}</td>
<td>{{obj.age}}</td>
<td>{{obj.balance}}</td>
<td>
    <img [src]="obj.picture" class="img-rounded" onError="this.src='http://placehold.it/32x32g';" alt="" />
</td>

<td class="td-actions">
    <div class="pull-right">
        <a href="javascript:;" [class.disabled]="bEnAlta || trabajando" class="btn btn-small btn-info" (click)="onEditClick()" tooltip="Editar persona"><i class="btn-icon-only icon-ok"></i></a>
        <a href="javascript:;" [class.disabled]="bEnAlta || trabajando" class="btn btn-small btn-danger" (click)="c.showChildModal()"
            tooltip="Eliminar persona"><i class="btn-icon-only icon-remove"></i></a>
    </div>
    <modal-child #c="childModal" [modal]="modalDel" (ok)="onDelete($event)"></modal-child>

</td>