h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

body {
  background-image: url("./app/content/FondoLogin.jpg");
  min-width:100%;
  background-color:#fff!important;
  font-size:.85em;
  font-family:Segoe UI,Verdana,Helvetica,Sans-Serif;
  margin:0;
  padding:0;
  color:#696969;
  background-position:bottom left;
  background-repeat:no-repeat;
}

.container{
  background-color: white
}
