<label class="col-md-2">Género</label>
<div class=" col-md-10 btn-group  btn-group-sm">
    <label class="btn btn-warning col-md-3" [ngModel]="gender  || !gender" (ngModelChange)="onClick('male')" btnRadio="male">Hombre</label>
    <label class="btn btn-warning col-md-3" [ngModel]="gender" (ngModelChange)="onClick('female')" btnRadio="female">Mujer</label>
</div>